/*BODY*/

body{

	background-image:url(../images/imagen1.jpg);
	background-size: 100%;
	overflow:hidden;
	font-size: 20px;
}

.contenedor_menu{
	font-family: arial;
	margin: 20% 0px;
}
.menu{
	background-color: transparent;
}
.contenedor_slider{
	margin: -52% 0%;
	position: relative;
}
.acerca_de_mi{
	width: 70%;
	position: relative;
	margin: 65% 20%;
	text-align: justify;
	
}
.texto1{
	font-size: 80%;
	color: #FFFFFF;
}

/*FIN BODY*/




  .affix-content .container {
    width: 700px;
  }   

  
    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        position:relative; 
        width:100%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    background-color:white; 
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  





